# don't track compiled programs
fooscore
simulate
# leave out the Stan-generated model-fitter source code and other auto-junk
fooscore.cpp
fooscore.d
fooscore.hpp
fooscore.o
# leave out multi-megabyte Stan output files
fauxscore-out.csv
fooscore-out.csv
