# don't track the Stan-compiled executable model fitter
fooscore
# leave out the Stan-generated model-fitter source code and other auto-junk
fooscore.cpp
fooscore.d
fooscore.hpp
fooscore.o
# leave out the multi-megabyte Stan output file
fooscore-out.csv
